<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kalkulator Walut</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Kalkulator walut</h1>
<div class="container">
  <form method="POST" action="/">

    <label for="currency"><b>Wybierz walutę:</b></label>
    <select name="currency" id='currency'>
      {% for d in data %}
      <option value="{{ d.code }}">{{ d.code }}</option>
      {% endfor %}
    </select><br>
    <label for="amount"><b>Podaj kwotę:</b></label>
    <input type="number" placeholder='Kwota'name="amount" required><br>
    <button type="submit">Przelicz</button><br><hr>

  </form>
    <label for="result"><b>Kwota w PLN</b></label><br>
    <input type="text" id='result' value="{{ result }}" style='background-color: wheat; text-align: center;' readonly>
</div>
</body>
</html>