<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kalkulator Walut</title>
</head>
<body>
    <h1>Kalkulator walut</h1>
 <form method="POST" action="/recalculate/">
  <div class="container">
    <label for="from_currency"><b>Wybierz walutę:</b></label>
    <select name="from_currency" id='from_currency'>
        <option value="USD">USD</option>
        <option value="AUD">AUD</option>
        <option value="CAD">CAD</option>
        <option value="EUR">EUR</option>
        <option value="HUF">HUF</option>
        <option value="CHF">CHF</option>
        <option value="GBP">GBP</option>
        <option value="JPY">JPY</option>
        <option value="CZK">CZK</option>
        <option value="DKK">DKK</option>
        <option value="NOK">NOK</option>
        <option value="SEK">SEK</option>
        <option value="XDR">XDR</option>
    </select><br>
    <label for="amount"><b>Podaj kwotę:</b></label>
    <input type="number" placeholder='Kwota'name="amount" required><br>
    <button type="submit">Przelicz</button><br><hr>
    <label for="result"><b>Kwota w PLN</b></label>
    <input type="text" placeholder="PLN" style='background-color: wheat;' readonly>
  </div>
</form>
</body>
</html>